@model IEnumerable<ManageProperty.Models.Manager>

@{
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
    ViewData["Title"] = "Index";
}


<h1>List of Managers</h1>
<form asp-action="Search" method="post" class="search">
    <input type="text" size="20" placeholder="Search" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<p id="Create">
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ManagerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ManagerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ManagerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
