@model IEnumerable<ManageProperty.Models.Schedule>

@{
    Layout = "~/Views/Shared/_LayoutTenant.cshtml";
    ViewData["Title"] = "Book Appointment";
}

<h2>Book Appointment</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="schedule">Available Schedules</label>
        <select id="schedule" name="ScheduleId" tyle="width: 200px; height: 40px;" class="form-control">
            @foreach (var item in Model)
            {
                <option value="@item.ScheduleId">@item.Date - @item.StartTime to @item.EndTime</option>
            }
        </select>
    </div>
    <input type="hidden" name="TenantId" value="@ViewBag.TenantId" />
    <input type="hidden" name="Status" value="pending" />
    <p></p>
    <button type="submit" class="btn btn-primary">Book Appointment</button>
</form>
