@model ManageProperty.Models.Message

@{
    Layout = "~/Views/Shared/_LayoutTenant.cshtml";

    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceiverId)
        </dd>
        <div class="custom">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10 message-content">
                @Html.DisplayFor(model => model.Content)
            </dd>
        </div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SentAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SentAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ReplyForTenants" asp-route-originalMessageId="model.MessageId" class="btn btn-secondary">Reply</a>

    <a asp-action="ViewReceivedMessagesForTenants">Inbox</a>
</div>
